.chart{
    flex: 5;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.1);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}