.single{
    display: flex;
    width: 100%;
    
    .singleContainer{
        flex: 6;

        .top, .bottom{
            gap: 20px;
            padding: 20px;
        }

        .top{
            .left{
                border-radius: 10px;
                box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.1);
                border: 1px solid rgba(0, 0, 0, 0.1);
                flex: 1;
                padding: 20px;
                position: relative;
                .editButton{
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin: 20px;
                    padding: 5px;
                    font-size: 12px;
                    border-radius: 10px;
                    color: black;
                    background-color: rgba(0, 0, 0, 0.080);
                    cursor: pointer;

                }
                .item{
                    display: flex;
                    gap: 20px;
                    .itemImg{
                        width: 100px;
                        height: 100px;
                        object-fit: cover;
                        object-position: center;
                        user-select: none;
                        border-radius: 100%;
                    }
                    .details{
                        
                        .itemTitle{
                            margin: 10px;
                            color: black;
                        }
                        .itemDetails{
                            margin-bottom: 10px;
                            display: flex;
                            padding: 10px 20px;
                            justify-content: space-between;
                            align-items: center;
                            font-size: 14px;
                            
                            .itemKey{
                                font-weight: bold;
                                color: gray;
                                border-bottom: 1px solid gray;
                                // padding: 5px;
                                width: max-content;
                                user-select: none;
                                
                            }
                            .itemValue{
                                font-family: monospace;
                                margin-left: 20px;
                                
                            }
                        }

                    }
                }
            }
            .right{
                flex: 3;
                margin: 20px;
            }
        }
        .title{
            color: gray;
            font-size: 16px;
            margin-bottom: 20px;
            text-transform: capitalize;
            user-select: none;
        }
        .bottom{
            border-radius: 10px;
            box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.1);
            border: 1px solid rgba(0, 0, 0, 0.1);
            margin: 20px 40px;
            display: flex;
            padding: 20px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .title{
                align-self: flex-start;
            }
        }
    }

}