.widget{
    display: flex;
    flex: 1;
    padding: 10px;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.1);
    height: 100px;

    .right , .left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // Left
        .title{
            font-size: 14px;
            text-transform: uppercase;
            color: rgb(160, 160, 160);
            user-select: none;
            -webkit-user-drag: none;
        }
        .counter{
            font-size: 28px;
            font-weight: lighter;
            user-select: none;
            color: rgba(0, 0, 0, 1);

        }
        .link{
            font-size: 12px;
            border-bottom: 1px solid gray;
            max-width: max-content;

            &:hover{
                cursor: pointer;
            }
        }
        // Right
        .percentage{
            display: flex;
            align-items: center;
            font-size: 14px;
            user-select: none;
            
            &.positive{
                color: forestgreen;
            }
            &.negative{
                color: crimson;
            }
        }
        .icon{
            font-size: 20px;
            padding: 2px;
            width: 20px;
            height: 20px;
            align-self: flex-end;
            color: black;
            border-radius: 5px;
        }
        
    }

}