.widget{
    display: flex;
    flex: 1;
    padding: 10px;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.1);
    height: 100px;

}